.about {
  margin-top: 15vh;
  height: auto;
}
.aboutTopData {
  height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.aboutTopData h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
}
/* about us wrapper */
.aboutusWrapper {
  margin-top: 20px;
}
.aboutUsdesc h3 {
  color: red;
  font-size: 20px;
}
.aboutUsdesc p {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #0d235d;
}
@media only screen and (max-width: 1000px) {
  .about {
    margin-top: 0vh;
  }
  .aboutTopData h3 {
    font-size: 25px;
  }
  .aboutUsdesc p {
    text-align: start;
    font-size: 12px;
    color: gray;
  }
  .aboutUsdesc h3 {
    font-size: 19px;
  }
}
