.curoselContainer {
  position: relative;
  text-align: center;
  margin-top: 15vh;
  z-index: -999;
}

.curosel-item img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.bottomLeftContain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomLeftContain h3 {
  font-weight: 600;
  color: white;
  font-size: 50px;
}

.bottomLeftContain button {
  padding: 6px 30px;
  outline: none;
  border: none;
  background-color: #d51339;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  .curoselContainer {
    margin-top: 0vh;
  }
  .bottomLeftContain {
    width: 80%;
  }
  .curosel-item img {
    height: 70vh;
  }
}

@media only screen and (max-width: 768px) {
  .bottomLeftContain {
    width: 70%;
  }
  .bottomLeftContain h3 {
    font-size: 40px;
  }
  .curosel-item img {
    height: 50vh;
  }
}

@media only screen and (max-width: 550px) {
  .bottomLeftContain {
    width: 80%;
  }
  .curosel-item img {
    height: 40vh;
  }
  .bottomLeftContain h3 {
    font-size: 28px;
  }

  .bottomLeftContain button {
    padding: 4px 10px;
    font-size: 13px;
  }
}
