.mainTopbar {
  background-color: #d51339;
  width: 100%;
  color: white;
}

/* left side contain */
.leftSideMainTopBar {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSideMainTopBar span {
  font-size: 14px;
}

.leftSideMainTopBar .fa-location-dot {
  margin-right: 7px;
  font-size: 14px;
}

/* middle contain */
.middleSideMainTopBar {
  height: 4vh;
  align-items: center;
  display: flex;
}
.middleSideMainTopBar span {
  font-size: 14px;
}

.phoneCallIcon {
  margin-right: 25px;
}

.phoneCallIcon .fa-phone {
  margin-right: 6px;
  font-size: 14px;
}
.officeTimeIcon .fa-clock {
  margin-right: 9px;
  font-size: 14px;
}
/* right side contain */
.rightSidemainTopBar {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightSideicons .fa-brands {
  margin: 10px;
  font-size: 19px;
  cursor: pointer;
}
@media only screen and (max-width: 990px) {
  .mainTopbar {
    display: none;
  }
}
