.sidebar {
  flex: 1;
  background-color: whitesmoke;
  height: 90vh;
  color: rgb(0, 0, 0);
  box-shadow: 5px 1px 6px -6px #000000;
  margin-top: 11vh;
}
.sidebartitle {
  font-size: 15px;
  color: gray;
  padding-top: 18px;
  margin-left: 10%;
  margin-bottom: 10px;
  font-weight: 600;
}
/* list item  */

.sidebarList {
  list-style: none;
  text-decoration: none;
  color: gray;
  font-size: 18px;
  margin-top: 14px;
}
.sidebarList a {
  text-decoration: none;
  color: gray;
}
.sidebarItem {
  padding-left: 20px;
}
.sidebarItem:hover {
  background-color: red;
  color: rgb(225, 222, 222);
  border-radius: 4px;
  padding-left: 30px;
  transition: 0.3s;
}
.sidebarItem span {
  font-size: 500;
  font-size: 16px;
}
/* logo */
.sidebarItem i {
  margin-right: 10px;
  font-size: 17px;
}
