.jobs {
  margin-top: 15vh;
  height: auto;
  width: 100%;
  margin-bottom: 15vh;
  color: #0d235d;
}

.jobsTopData {
  height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.aboutTopData h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
}
/* search container */
.searchContainer {
  margin: 20px;
  width: 100%;
  height: 30vh;
}
.searechInputField input {
  width: 45%;
  height: 41px;
  margin-top: 20px;
  outline: none;
  border: none;
  border: 1px solid gray;
  padding: 0px 20px;
  letter-spacing: 2px;
}
.searechInputField span {
  padding: 10px 30px 10px 30px;
  background-color: #d51339;
  color: white;
}

/* category section */

.category h3 {
  font-size: 26px;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #0d235d;
}

.categoryItem {
  cursor: pointer;
}

.categoryItem option {
  cursor: pointer;
  border: 1px solid rgb(209, 209, 209);
  color: #0d235d;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .jobs {
    margin-top: 0vh;
    overflow: hidden;
    margin-bottom: 6vh;
  }
}

@media only screen and (max-width: 768px) {
  .aboutTopData h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .searechInputField input {
    width: 70%;
    height: 38px;
    margin-left: -25px;
  }
  .searechInputField span {
    padding: 9px 18px 9px 18px;
  }
  /* category */
  .category {
    margin-left: -5%;
  }
  .category h3 {
    font-size: 20px;
  }
  .categoryItem option {
    font-weight: 400;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .categoryItem option {
    font-weight: 400;
    padding: 3px 4px 3px 3px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 350px) {
  .categoryItem p {
    padding: 3px;
    font-size: 10px;
  }
}
