.jobs {
  margin-top: 15vh;
  height: auto;
  width: 100%;
  margin-bottom: 15vh;
}

.jobsTopData {
  height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.aboutTopData h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
}
/* search container */
.searchContainer {
  margin: 20px;
  width: 100%;
  height: 30vh;
}
.searechInputField input {
  width: 45%;
  height: 41px;
  margin-top: 20px;
  outline: none;
  border: none;
  border: 1px solid gray;
  padding: 0px 20px;
  letter-spacing: 2px;
}
.searechInputField span {
  padding: 10px 30px 10px 30px;
  background-color: #d51339;
  color: white;
}

/* jobs container */
.jobsContentContainer {
  display: flex;
  /* box-shadow: -1px 3px 15px 5px rgba(0, 0, 0, 0.05); */
  border-radius: 5px;
  height: 12vh;
  margin-top: 10px;
  width: 22%;
  margin-left: 3%;
  align-items: center;
}
.jobdeschData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}
.jobdeschData h6 {
  cursor: pointer;
  margin-top: 5px;
  color: gray;
}
.jobdeschData p {
  color: gray;
}

.jobsImg img {
  height: 8vh;
  border-radius: 5px;
}
@media only screen and (max-width: 1000px) {
  .jobs {
    margin-top: 0vh;
    overflow: hidden;
    margin-bottom: 6vh;
  }
  .jobsImg img {
    height: 6vh;
  }
  .jobdeschData h6 {
    font-size: 12px;
    font-weight: 500;
  }
  .jobdeschData p {
    font-size: 11px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 768px) {
  .aboutTopData h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .searechInputField input {
    width: 70%;
    height: 38px;
    margin-left: -25px;
  }
  .searechInputField span {
    padding: 9px 18px 9px 18px;
  }

  /* jobs section */
  .jobsContentContainer {
    width: 100%;
    margin-top: 7px;
    height: 10vh;
    margin-left: 0%;
  }

  .jobsImg img {
    height: 6vh;
    width: 100%;
    object-fit: cover;
  }
  .jobdeschData h6 {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
  }
  .jobdeschData p {
    font-size: 12;
  }
}
