.ourService {
  height: auto;
  width: 100%;
  margin-bottom: 5vh;
  color: #0d235d;
}
.ourService h1 {
  font-size: 26px;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #0d235d;
}
/* first image */
.ourServiceFirstImg img {
  border-radius: 2px;
  height: 45vh;
}
.ourServiceFirstTitle {
  font-size: 24px;
  margin: 10px 10px 15px 0px;
  font-weight: 600;
}
.ourServiceFirstDesc p {
  font-size: 15px;
}
@media only screen and (max-width: 1000px) {
  .ourService h1 {
    font-size: 22px;
  }
  .ourServiceFirstImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ourServiceFirstImg img {
    height: 30vh;
  }
  .ourServiceFirstTitle {
    font-size: 17px;
  }
  .ourServiceFirstDesc p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .ourService {
    font-size: 20px;
  }
  .ourServiceFirstImg img {
    height: 45vh;
  }
  .ourServiceFirstTitle {
    font-size: 15px;
  }
  .ourServiceFirstDesc p {
    font-size: 12px;
  }
}
