.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-size: contain;
  width: 100%;
  margin-top: 0px;
  color: gray;
}

.footer h3 {
  color: red;
}

.containerBox {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
/* left side data */
.firstContainer span {
  cursor: pointer;
  font-size: 17px;
}

.firstContainer span:hover {
  color: #d51339;
  text-decoration: underline;
}

/* middle */
.middleContainer span {
  cursor: pointer;
  font-size: 17px;
}

.middleContainer span:hover {
  color: #d51339;
  text-decoration: underline;
}

/* right */


@media only screen and (max-width: 768px) {
  .footer h3 {
    color: red;
    font-size: 16px;
  }
  .firstContainer span {
    font-size: 12px;
  }
  /* middle */
  .middleContainer span {
    font-size: 12px;
  }
}
