.recruitment {
  width: 100%;
  height: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  color: #0d235d;
}
.recruitmentTop {
  height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.recruitmentTop h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
}

.recruitmentData h3 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #0d235d;
}
.recruitmentData p {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0.4px;
}

@media only screen and (max-width: 1000px) {
  .recruitment {
    margin-top: 0vh;
    margin-bottom: 6vh;
  }
  .recruitmentTop h3 {
    font-size: 25px;
  }

  .recruitmentData h3 {
    margin-top: 3vh;
    font-size: 20px;
    font-weight: 600;
  }
  .recruitmentData p {
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 0.4px;
  }
}
