.recruitment {
  width: 100%;
  height: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.recruitmentTop {
  height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.recruitmentTop h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
}
.recruitmentData h3 {
  margin-top: 10vh;
  font-size: 28px;
  font-weight: 700;
}
.recruitmentData p {
  margin-top: 20px;
  font-size: 17px;
  letter-spacing: 0.4px;
}
.recruitmentContent h3{
    font-size: 23px;
}
