.employers {
  height: 70vh;
  width: 100%;
}

/* right side container */
.employersRight {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.employersRight h3 {
  font-size: 26px;
  color: rgb(81, 78, 78);
}
.employersRight p {
  font-size: 17px;
  margin-top: 10px;
  color: gray;
}
/* right side container */
.employersLeft {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employersLeft img {
  height: 50vh;
  padding: 10px;
  border-radius: 5px;
}
