/* sidebar top conttainer */
.sidebar {
  display: none;
}

@media only screen and (max-width: 990px) {
  .sidebar {
    display: block;
  }
  .sidebarTopContainer {
    width: 100%;
    box-shadow: 0px 6px 13px -1px rgba(0, 0, 0, 0.14);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .menuIconContainer i {
    font-size: 22px;
    padding-left: 30px;
  }
  /* company logo */
  .companyLogoSidebar img {
    height: 3vh;
    width: 100%;
    padding-right: 20px;
  }

  /* side bar active */
  .side-menu {
    background-color: #d51339;
    width: 230px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0px;
    left: -100%;
    transition: 0.3s;
  }
  .side-menu.active {
    left: 0%;
    /* transition: 1s; */
  }
  .side-menu.active .closeNavIcon i {
    margin-left: 370%;
    font-size: 18px;
    padding: 18px;
    color: white;
    cursor: pointer;
  }

  .sidebar-nav {
    list-style: none;
    margin-top: 50px;
  }
  .sidebar-item {
    padding: 19px 10px 0px 0px;
  }
  .sidebar-item a {
    color: rgb(209, 205, 205);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
  }
  .sidebar-item a:hover {
    color: #ffaeaf;
  }
  /* home dropdown */
  .sidebbardropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .sidebardropdown {
    position: relative;
    display: inline-block;
  }

  .sidebardropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -50px;
    border-radius: 5px;
  }

  .sidebardropdown-content a {
    color: rgb(108, 108, 108);
    padding: 2px 8px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    display: flex;
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sidebardropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .sidebardropdown:hover .sidebardropdown-content {
    display: block;
  }
  .sidebardropdown span {
    margin-left: 13px;
    color: white;
    font-size: 12px;
  }
}
