.categoryJobs {
  width: 100%;
  height: auto;
  margin-top: 16vh;
}
.categoryTopTitle {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  margin: 24vh 0px 0.5vh 0px;
}
.categoryTopText {
  width: 50%;
}
.categoryTopText p {
  color: black;
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  .categoryJobs {
    margin-top: 0vh;
  }
  .categoryTopTitle {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 3vh 0px 1vh 0px;
  }
  .categoryTopText {
    width: 100%;
  }
  .categoryTopText p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 770px) {
  .categoryTopText p {
    font-size: 12px;
  }
}
