.jobsContent {
  height: auto;
  width: 100%;
}

.jobsContentTopbar h1 {
  font-size: 26px;
  margin-top: 45px;
  font-weight: 600;
  color: gray;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.jobsContentContainer {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  height: 12vh;
  margin-top: 10px;
  width: 22%;
  margin-left: 3%;
  align-items: center;
}
.jobdeschData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}
.jobdeschData h6 {
  cursor: pointer;
  margin-top: 5px;
  color: gray;
}
.jobdeschData p {
  color: gray;
}

.jobsImg img {
  height: 8vh;
  border-radius: 5px;
}
/* view all link */
.viewAllLinks {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.viewAllLinks .fa-eye {
  margin-right: 5px;
  margin-top: 4px;
  font-size: 14px;
}
.viewAllLinks p {
  font-size: 14px;
  font-weight: 600;
}
.viewAllLinks p:hover {
  text-decoration: underline;
  color: #d51339;
}
@media only screen and (max-width: 1000px) {
  .jobsImg img {
    height: 6vh;
  }
  .jobsContentTopbar h1 {
    font-size: 22px;
    margin-top: 30px;
  }
  .jobdeschData h6 {
    font-size: 12px;
    font-weight: 500;
  }
  .jobdeschData p {
    font-size: 11px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 768px) {
  .jobsContent {
    overflow: hidden;
  }
  .jobsContentTopbar h1 {
    font-size: 20px;
  }
  .jobsContentContainer {
    width: 100%;
    margin-top: 7px;
    height: 10vh;
    margin-left: 0%;
  }

  .jobsImg img {
    height: 6vh;
    width: 100%;
    object-fit: cover;
  }
  .jobdeschData h6 {
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
  }
  .jobdeschData p {
    font-size: 12px;
  }
  .viewAllLinks .fa-eye {
    font-size: 12px;
  }
  .viewAllLinks p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 400px) {
  .jobsImg img {
    height: 5vh;
  }
  .jobdeschData h6 {
    font-size: 12px;
  }
  .jobdeschData p {
    font-size: 11px;
  }
}
