.emailSetting {
  display: flex;
  height: auto;
  margin-bottom: 5vh;
  overflow: hidden;
}
.emailSettingContainer {
  flex: 5;
  margin-top: 12vh;
  margin-left: 15%;
}

.emailSettingRight {
  margin: 30px 20px 10px 10px;
  width: 70%;
  padding-bottom: 5vh;
  box-shadow: -4px 5px 39px -12px rgba(153, 153, 153, 0.66);
}

@media only screen and (max-width: 1000px) {
  .emailSettingLeft {
    width: 100%;
  }
  .emailSettingContainer {
    margin-left: 0%;
    margin-top: 3vh;
  }
  .emailSettingRight {
    width: 100%;
    overflow: hidden;
  }
}
