.category {
  display: flex;
  height: 100vh;
}

.categoryContainer {
  flex: 5;
  margin-top: 12vh;
  margin-left: 17%;
}

.categoryTopBar {
  display: flex;
  justify-content: space-between;
}
.categoryTopBar h3 {
  font-size: 22px;
  margin: 24px 0px 20px 30px;
  color: gray;
}

/* add category button */
.createCategoryBtn button {
  outline: none;
  border: none;
  border: 1px solid red;
  margin: 25px 100px 23px 10px;
  font-size: 14px;
  padding: 4px 20px;
  color: red;
  border-radius: 8px;
  cursor: pointer;
}
.createCategoryBtn button:hover {
  background-color: rgb(255, 236, 236);
}

/* edit button and delete button */

.categoryEdit_button {
  border: 1px solid rgb(183, 0, 255);
  outline: none;
  color: rgb(183, 0, 255);
  border-radius: 4px;
  font-size: 13px;
  padding: 4px 7px;
}

.categoryEdit_button:hover {
  background-color: rgb(183, 0, 255);
  color: white;
}
.categoryDelete_button {
  border: 1px solid red;
  outline: none;
  color: red;
  border-radius: 6px;
  padding: 4px;
  font-size: 13px;
  margin-left: 10px;
}
.categoryDelete_button:hover {
  background-color: red;
  color: white;
}
.categoryImg img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

@media only screen and (max-width: 1000px) {
  .categoryContainer {
    margin-left: 3%;
    margin-top: 3vh;
  }

  .categoryTopBar h3 {
    font-size: 17px;
  }
  .createCategoryBtn button {
    outline: none;
    margin: 25px 10px 23px 10px;
    font-size: 12px;
    padding: 4px 10px;
  }
}
