.singlePost {
  height: auto;
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 13vh;
  color: black;
}

/* job desc */
.jobDesc {
  margin-top: 9vh;
}

.jobDescTitle {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
}
.jobDescInformation h3 {
  font-size: 16px;
  margin: 15px 0px 20px 5px;
  letter-spacing: 1px;
  font-size: 600;
  text-decoration: underline;
}

/* job desc  requirement */
.jobDescdata {
  margin: 8px;
}

.jobDescdata p {
  font-size: 15px;
}

/* applu button */
.applyButton {
  margin: 40px 20px 20px 15px;
}
.applyButton button {
  font-size: 15px;
  padding: 4px 33px;
  outline: none;
  border: none;
  background-color: red;
  color: whitesmoke;
}
.applyButton button:hover {
  background-color: rgb(244, 75, 75);
}
@media only screen and (max-width: 1000px) {
  .singlePost {
    margin-top: 0vh;
    margin-bottom: 6vh;
    overflow: hidden;
  }

  /* job desc */
  .jobDesc {
    margin-top: 4vh;
  }
  .jobDescTitle {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
  }
  .jobDescInformation h3 {
    font-size: 14px;
    font-size: 500;
  }
  .jobDescdata p {
    font-size: 12px;
  }

  /* applu button */
  .applyButton button {
    font-size: 12px;
    padding: 4px 20px;
    outline: none;
    border: none;
    background-color: red;
    color: whitesmoke;
  }
}
