.blog {
  width: 100%;
  height: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.blogTop {
  height: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.blogTop h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
}
.blogContainer {
  margin-top: 30px;
}
.blogContainWrapper {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.card {
  z-index: -99;
  box-shadow: -1px 3px 15px 5px rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
}

.card img {
  height: 30vh;
  object-fit: cover;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}
.card h5 {
  font-size: 19px;
  color: gray;
  letter-spacing: 1px;
}
.blogContainWrapper p {
  font-size: 13px;
  color: gray;
}

@media only screen and (max-width: 1000px) {
  .blog {
    margin-top: 0vh;
    margin-bottom: 6vh;
  }
  .blogTop h3 {
    font-size: 25px;
  }
  .blogContainWrapper {
    width: 100%;
    margin-top: 5px;
  }
  .card h5 {
    font-size: 15px;
    font-weight: 500;
  }
  .card img {
    height: 20vh;
    width: 100%;
    padding: 5px;
  }
  .blogContainWrapper p {
    font-size: 11px;
  }
}
